<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div><%= error %></div>
    <a href="/">
        <button type="button" class="btn btn-primary">Return Home</button>
    </a>
</body>

</html>