<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <h1>Colornize</h1>
    <button id="create-game" type="button" class="btn btn-primary">Create Game</button>
    <script type="module" src="index.js"></script>
</body>

</html>