@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #0B1026;
}

h1 {
    color: white;
}

h3 {
    position: relative;
    display: inline-block;
}

/* canvas { */
    /* background-color: white; */
/* } */