@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B1026;
    height: 100vh;
    padding: 3em;
}

body > section {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

canvas {
    /* background-color: white; */
    background-color: #0B1026;
}

h1 {
    font-family: 'Agdasima', sans-serif;
    font-size: 3.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
    border-radius: 2em;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(141, 141, 159);
    font-size: 1em;
}

body > div {
    display: flex;
    align-items: center;
}

label {
    margin: 0;
}

input[type='checkbox'] {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

h2:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.selected {
    border: 1px solid white;
}